
.header__scooter-egg {
   position: absolute;
   top: -80px;
   right: -190px;
   z-index: 0;
 }

 @media (max-width: 1350px) {
  .header__scooter-egg {
    position: relative;
    top: 0;
    right: 0;
    width: 724px;
    height: 616px;
    margin-top: 40px;

  }
}

@media (max-width: 900px) {
  .header__scooter-egg {
    width: 350px;
    height: 300px;
    margin-top: 0;
    left: 200px;
    top: -5px;
  }
}

@media (max-width: 650px) {
  .header__scooter-egg {
    left: -25px;
    top: -5px;
  }
}

