
.text_little {
  width: 400px;
  margin: 0;
  line-height: 120%;
 }

 @media (max-width: 1000px) {
  .text_little {
    width: 300px;
  }
}

 @media (max-width: 750px) {
  .text_little {
    width: 212px;
    font-size: 16px;
  }
}