
.access__photo {
  width: 471px;
  height: 471px;
  transform: rotate(-2deg);
 }

.access__photo:first-child, .access__photo:nth-child(3) {
  margin-top: 227px;
 }


 @media (max-width: 1410px) {
  .access__photo:nth-child(2), .access__photo:nth-child(3), .access__photo:nth-child(4) {
    display: none;
    transform: rotate(2deg);
  }

  .access__photo:first-child, .access__photo:nth-child(3) {
    width: 344px;
    height: 344px;
    margin-top: 0;
   }
}