
.subtitle {
  width: 640px;
  margin: 0;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -1.12px;
 }

 @media (max-width: 900px) {
  .subtitle {
    margin: 0 0 32px;
    font-size: 32px;
  }
}

@media (max-width: 720px) {
  .subtitle {
    width: 311px;
  }
}

@media (max-width: 650px) {
  .subtitle {
    margin: 0 0 2px;
    letter-spacing: -0.64px;
  }
}