
.text_price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
 }